@import "snackbar.css";
@import "/assets/fonts/fonts.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #f1f1f1;
  font-weight: 300;
}
pre {
  font-family: 'Overpass', sans-serif;
}
small {
  font-size: 0.75em;
  color: #bec8cf;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5em;
  border-bottom: 1px solid #323c43;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  text-transform: uppercase;
}
body,
html,
#app {
  height: 100%;
}
.icon {
  color: inherit;
}
.icon.icon-button {
  color: #bec8cf;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.icon.icon-button:hover {
  color: #fed800 !important;
}
.icon__spinning .icon {
  animation: spin 1s linear infinite;
}
.full__flex__center {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5 {
  display: flex;
  align-items: center;
  margin: 0 0 0.5em 0;
  color: #687e8d;
}
h1 > .icon:first-child,
h2 > .icon:first-child,
h3 > .icon:first-child,
h4 > .icon:first-child,
h5 > .icon:first-child {
  margin-right: 0.25em;
}
/* WEBKIT */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #323c43;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border: 1px solid #3c4952;
}
::-webkit-scrollbar-thumb {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #3c4952;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3c4952;
}
body,
html {
  background: #1c2226;
}
button {
  background: none;
  padding: 0.5em;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn__container {
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  position: relative;
  transition: all 0.2s ease-in-out;
}
.btn__container button,
.btn__container a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #323c43;
  border: 1px solid #3c4952;
  color: #687e8d;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 0 1em 5px #1c2226;
  padding: 0.5em 0.5em;
}
.btn__container button .icon,
.btn__container a .icon {
  color: #bec8cf;
}
.btn__container .action .icon {
  color: #fed800;
}
.btn__container .action .content {
  color: #fed800;
}
.btn__container .content {
  font-size: 0.75em;
}
.btn__container .has-icon .icon {
  margin-right: 0.5em;
}
.btn__container:hover {
  background-color: #3c4952;
  text-decoration: none;
}
.btn__container:active {
  background-color: #687e8d;
  text-decoration: none;
  transform: translateY(1px);
}
.btn__confirmation__dialog {
  position: absolute;
}
input {
  background: #3c4952;
  padding: 0.25em 0.5em;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  transition: all 0.2s ease-in-out;
  border: 1px solid #687e8d;
  max-width: 100%;
  width: 100%;
}
input:focus {
  background: #3c4952;
}
.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}
textarea,
select {
  background: none;
  color: inherit;
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  font-family: inherit;
  display: flex;
}
textarea:focus,
select:focus {
  background: none;
  outline: none;
}
.no-token {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.no-token > * {
  margin: 0.5em;
}
.app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4em 1fr;
  grid-template-areas: "header" "main";
}
.app .app-navigation {
  grid-area: header;
}
.app .app-content {
  grid-area: main;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  height: 100%;
}
.chat-bot {
  display: grid;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  grid-template-rows: auto 1fr;
}
.chat-bot .chat-bot-mobile-menu {
  display: none;
}
.chat-bot .chat-bot-mobile-menu.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1c2226;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.chat-bot .chat-bot-mobile-menu.active .mobile-menu-chat-history {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2em 4em;
  width: 100%;
  height: 100%;
}
.chat-bot .chat-bot-mobile-menu.active .chat-bot-mobile-menu-title {
  font-size: 1.5em;
  font-weight: 300;
  color: #687e8d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 2em;
}
.chat-bot .chat-bot-mobile-menu.active .mobile-menu-chat-history-item {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-bot .chat-bot-mobile-menu.active .mobile-menu-chat-history-item .icon {
  color: #bec8cf;
}
.chat-bot .chat-bot-mobile-menu.active .mobile-menu-chat-history-item .chat-bot-mobile-menu-button {
  text-decoration: none;
  color: #bec8cf;
  font-size: 3em;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.chat-bot .chat-bot-mobile-menu.active .mobile-menu-chat-history-item:hover {
  color: #fed800;
}
.chat-bot .chat-bot-information {
  padding: 0.5em;
  text-align: center;
  position: relative;
}
.chat-bot .chat-bot-information .chat-bot-chat-id {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  border: 1px solid #323c43;
  background: #1a1f23;
}
.chat-bot .chat-bot-information .chat-bot-chat-id .chat-bot-name {
  color: #fed800;
  font-size: 1.5em;
}
.chat-bot .chat-bot-information .chat-bot-chat-id .chat-bot-name .icon {
  margin-right: 0.5em;
}
.chat-bot .chat-bot-information .chat-bot-chat-id .chat-bot-usage {
  font-weight: 300;
  color: #687e8d;
  font-family: "Overpass", monospace;
  margin-left: 0.5em;
  display: flex;
  align-items: center;
}
.chat-bot .chat-bot-information .chat-bot-chat-id .chat-bot-usage > * {
  margin: 0 0.5em;
}
.chat-bot .chat-bot-information .chat-bot-chat-id .chat-bot-usage .chat-bot-usage-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  color: #687e8d;
  font-size: 0.75em;
  font-family: "Overpass", monospace;
}
.chat-bot .chat-bot-information .chat-bot-chat-id .chat-bot-usage .chat-bot-usage-item .icon {
  margin-right: 0.5em;
}
.chat-bot .chat-bot-information .chat-bot-mobile-menu-button {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  padding: 0.5em;
  cursor: pointer;
  z-index: 200;
}
@media (min-width: 768px) {
  .chat-bot .chat-bot-information .chat-bot-mobile-menu-button {
    display: none;
  }
}
.chat-bot .chat-bot-information .chat-bot-mobile-menu-button .icon {
  margin: 0;
}
.chat-bot .chat-bot-information .chat-bot-mobile-menu-button .mobile-menu-chat-history {
  display: flex;
  flex-direction: row;
}
.chat-bot .outer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
}
@media (max-width: 768px) {
  .chat-bot .outer {
    grid-template-columns: 1fr;
  }
}
.chat-bot .chat-bot-body-outer {
  height: 100%;
  width: 100%;
  display: grid;
  position: relative;
  grid-template-rows: calc(100vh - 11em - 4em - 0.5em - 1em) 100px;
  grid-gap: 1em;
}
.chat-bot .chat-bot-body-outer .chat-bot-body {
  height: 100%;
  padding: 1em;
  overflow-y: scroll;
}
@media (max-width: 768px) {
  .chat-bot .chat-bot-sidebar {
    display: none;
  }
}
.chat-bot .chat-bot-sidebar h2 {
  padding: 0.5em;
}
.chat-bot .chat-bot-sidebar .chat-bot-chat-history {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 0.5em;
  height: calc(100% - 8em);
}
.chat-bot .chat-bot-sidebar .chat-bot-chat-history .chat-bot-chat-history-item {
  background: none;
  border: none;
  padding: 0.25em 0;
  border-bottom: 1px solid #323c43;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-bot .chat-bot-sidebar .chat-bot-chat-history .chat-bot-chat-history-item .icon {
  color: #bec8cf;
  transition: all 0.2s ease-in-out;
}
.chat-bot .chat-bot-sidebar .chat-bot-chat-history .chat-bot-chat-history-item .chat-bot-chat-history-button {
  text-decoration: none;
  color: #bec8cf;
  font-size: 1em;
  outline: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
}
.chat-bot .chat-bot-sidebar .chat-bot-chat-history .chat-bot-chat-history-item .chat-bot-chat-history-button .icon {
  margin-right: 0.5em;
}
.chat-bot .chat-bot-sidebar .chat-bot-chat-history .chat-bot-chat-history-item .chat-bot-chat-history-button:hover {
  color: #fed800;
}
.chat-bot .chat-bot-sidebar .chat-bot-chat-history .chat-bot-chat-history-item .chat-bot-chat-history-button:hover .icon {
  color: #fed800;
}
.chat-bot .prompt:not(:first-child) {
  margin-top: 1em;
}
.chat-bot .prompt .token-cost {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1em;
  top: 1em;
  color: #bec8cf;
  font-size: 0.75em !important;
}
.chat-bot .prompt .token-cost .icon {
  margin-right: 0.5em;
}
.chat-bot .prompt .prompt-text .prompt-text-info {
  color: #687e8d;
  font-weight: 500;
  padding: 0.5em 0;
}
.chat-bot .prompt .prompt-text .prompt-text-content {
  position: relative;
  color: #f1f1f1;
  background: #181d20;
  border-radius: 1em;
  box-shadow: 0em 1em 1em #161a1d;
  border: 1px solid #1c2226;
  white-space: pre-wrap;
  padding-top: 3em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-bot .prompt .prompt-text .prompt-text-content > div {
  font-size: 1em;
}
.chat-bot .prompt .prompt-text .prompt-text-content .prompt-remove-btn {
  color: #1c2226;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}
.chat-bot .prompt .prompt-text .prompt-text-content textarea {
  font-size: 1em;
  width: 100%;
  height: 100%;
  line-height: 20px;
}
.chat-bot .prompt .prompt-response {
  margin-top: 1em;
}
.chat-bot .prompt .prompt-response .prompt-text-info {
  color: #687e8d;
  font-weight: 500;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 3em;
}
.chat-bot .prompt .prompt-response .prompt-text-info .retry {
  position: absolute;
  right: 0;
}
.chat-bot .prompt .prompt-response .prompt-text-info .retry:hover {
  animation: rotate 1s linear 1;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chat-bot .prompt .prompt-response .prompt-text-content {
  transition: all 1s ease-in-out;
  color: #f1f1f1;
  background: #181d20;
  border-radius: 1em;
  box-shadow: 0em 1em 1em #161a1d;
  border: 1px solid #1c2226;
  white-space: pre-wrap;
  position: relative;
  padding-top: 3em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 8em;
}
.chat-bot .prompt .prompt-response .prompt-text-content > div {
  font-size: 1em;
}
.chat-bot .prompt .prompt-response .prompt-text-content textarea {
  font-size: 1em;
  width: 100%;
  height: 100%;
  line-height: 20px;
}
.chat-bot .prompt .prompt-response .prompt-text-content .paperclip {
  position: absolute;
  z-index: 99;
  right: 0.5em;
  bottom: 0.5em;
}
.chat-bot .prompt-input {
  display: grid;
  grid-template-columns: 1fr 80px;
  width: 100%;
  height: auto;
}
.chat-bot .prompt-input .prompt-input-text {
  background: #323c43;
  box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  padding-bottom: 1.75em;
}
.chat-bot .prompt-input .prompt-input-text .prompt-input-tokens {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  display: flex;
  align-items: center;
  font-size: 0.75em;
}
.chat-bot .prompt-input .prompt-input-text .prompt-input-tokens .warning {
  color: #c28a11;
  font-size: 1em;
  margin-left: 0.5em;
}
.chat-bot .prompt-input .prompt-input-text .prompt-input-tokens span {
  font-size: 1em;
}
.chat-bot .prompt-input .prompt-input-text textarea {
  box-shadow: inset 0em 0em 1em rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  border: 0;
  background: none;
  color: #999;
  padding: 10px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  border-bottom: 1px solid #3c4952;
  resize: none;
}
.chat-bot .prompt-input .prompt-input-text textarea:focus {
  color: #fff;
  outline: none;
}
.chat-bot .prompt-input .prompt-input-text textarea::-webkit-input-placeholder {
  color: #687e8d;
}
.chat-bot .prompt-input .prompt-input-action {
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 1s ease-in-out;
  background: #3c4952;
  box-shadow: inset 0em 0em 1em rgba(0, 0, 0, 0.2);
}
.chat-bot .prompt-input .prompt-input-action:hover {
  background: #687e8d;
}
.chat-bot .prompt-input .prompt-input-action:hover button {
  background: none;
  color: #f9c500;
}
.chat-bot .prompt-input .prompt-input-action button {
  background: none;
  color: #fedb00;
  font-size: 1em;
  font-weight: 300;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}
.chat-bot .prompt-input .prompt-input-action button:hover:not(.thinking) .icon {
  animation: exit 0.5s ease-in-out 1;
}
@keyframes exit {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200%);
  }
  51% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
.chat-bot .prompt-input .prompt-input-action.thinking {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-bot .prompt-input .prompt-input-action.thinking .icon {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotateY(45deg);
  }
  to {
    transform: rotateY(225deg);
  }
}
.chat-bot .prompt:last-child .prompt-text .prompt-text-content {
  position: relative;
  padding-top: 2em;
  background: #c28a11;
}
.chat-bot .prompt:last-child .prompt-text .prompt-text-content:before {
  content: 'Edit Text below';
  position: absolute;
  font-size: 0.75em;
  top: 0;
  left: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}
.chat-bot .prompt:last-child .prompt-response .prompt-text-content {
  position: relative;
  padding-top: 2em;
  background: #117bc2;
}
.chat-bot .prompt:last-child .prompt-response .prompt-text-content:before {
  content: 'Edit Text below';
  position: absolute;
  font-size: 0.75em;
  top: 0;
  left: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em;
  background: #323c43;
  box-shadow: 0em 1em 1em rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  z-index: 99;
}
.navigation .navigation-item {
  padding: 0 1em;
}
.navigation .navigation-item .icon {
  margin-right: 0.5em;
}
.navigation .navigation-item a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 300;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.navigation .navigation-item a:hover {
  color: #fed800;
}
.brushes__container {
  padding: 1em 0;
}
@media screen and (min-width: 768px) {
  .brushes__container {
    height: calc(100vh - 4em);
    overflow: hidden;
  }
}
.brushes__container .brushes__row {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}
@media screen and (max-width: 768px) {
  .brushes__container .brushes__row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.brushes__container .brushes__row .brushes__column {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.brushes__container .brushes__row .brushes__column .paperclip {
  position: absolute;
  right: 0;
  bottom: 0.5em;
}
.brushes__container .brushes__row .brushes__column .brushes__column__row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.5em;
}
.brushes__container .brushes__row .brushes__column .brushes__column__row.center {
  align-items: center;
}
.brushes__container .brushes__row .brushes__column .brushes__column__row.max-height {
  height: 100%;
}
.brushes__container .brushes__row .brushes__column .brushes__column__row.max-height textarea {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .brushes__container .brushes__row .brushes__column .brushes__column__row.max-height textarea {
    height: 50vh;
  }
}
.brushes__container .brushes__row .brushes__column .brushes__column__row.apply-btn.thinking .icon {
  animation: spin 1s linear infinite;
}
.brushes__container .brushes__row .brushes__column .brushes__column__row .brushes__quick-access {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.brushes__container .brushes__row .brushes__column .brushes__column__row .brushes__quick-access:not(:last-child) {
  margin-bottom: 1em;
}
.brushes__container .brushes__row .brushes__column .brushes__column__row .brushes__saved__list {
  width: 100%;
  height: 150px;
  overflow-y: scroll;
}
.brushes__container .brushes__row .brushes__column .brushes__column__row .brushes__saved__list .brushes__saved__list__brush {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.brushes__container .brushes__row .brushes__column .brushes__column__row .brushes__saved__list .brushes__saved__list__brush:hover {
  background: rgba(0, 0, 0, 0.1);
}
.brushes__container .brushes__row .brushes__column .brushes__column__row .brushes__saved__list .brushes__saved__list__brush .brushes__saved__list__brush__name {
  font-size: 0.75em;
  font-weight: 300;
}
.brushes__container .brushes__row .brushes__column .brushes__column__row .brushes__saved__list .brushes__saved__list__brush .brushes__saved__list__brush__action {
  display: flex;
  align-items: center;
}
.brushes__container .brushes__row .brushes__column .brushes__column__row .brushes__saved__list .brushes__saved__list__brush .brushes__saved__list__brush__action .icon {
  margin-left: 0.5em;
  cursor: pointer;
}
.brushes__container .brushes__row .brushes__column .brushes__column__row .brushes__saved__list .brushes__saved__list__brush .brushes__saved__list__brush__action .icon:hover {
  color: #fed800;
}
.brushes__container .brushes__row .brushes__column .brushes__column__row textarea {
  background: #323c43;
  box-shadow: 0em 1em 1em #1c2226;
  border: 1px solid #3c4952;
  padding: 0.25em;
  font-size: 0.8em;
}
.instructions textarea {
  background: #117bc2 !important;
  border: 1px solid #1493e8 !important;
  border-radius: 1em;
  padding: 1em !important;
  margin-bottom: 0.5em;
}
.input textarea {
  border-radius: 1em;
  padding: 1em !important;
}
.output textarea {
  background: #c28a11 !important;
  border: 1px solid #e8a514 !important;
  border-radius: 1em;
  padding: 1em !important;
}
/*# sourceMappingURL=style.css.map */